footer 
    div.footer
        div.footer-links
            div.btn-group
                a(href="https://github.com/egirardo" target="_blank")
                    button.btn.btn-secondary(type="button") Elsa's Github
                a(href="https://github.com/LKotlinska" target="_blank")
                    button.btn.btn-secondary(type="button") Laura's Github 
                a(href="https://github.com/egirardo/dev-pages" target="_blank")
                    button.btn.btn-secondary(type="button") DevPages Github
        span.names &copy; Elsa Girardo and Laura Kotlinska 2026